body {
    background-color: #fbd139;
}

#score {
     font-size: 15px;
     float: left;
     margin: left;
     margin-left: 20px;
}

#timer {
    font-size: 15px;
    float: right;
    margin: right;
    margin-right: 20px;
}

#sketch_to_be_drawn {
    color:brown
}

#div1 {
    font-size: 20px;
}
